# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
.hypothesis/
.pytest_cache/
coverage.xml
*.coveragerc
*.pylintrc

# Flask specific
instance/
.webassets-cache

# IDEs and editors
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# Python configuration and cache
*.env
*.venv
.env/
.venv/
*.env.bak
*.env.development
*.env.local
*.env.test
*.env.production
*.env.sample
.envrc
